%h1
  = @user.name

  = image_tag @user.gravatar_url(:size => 128, :default => 'retro')

- if @user.country
  %p Country: #{ @user.country }


- if @user.about_me
  %p About me: #{ @user.about_me }

- if @current_user == @user
  = link_to "Edit Profile", edit_user_path(@user)