.row
  .textbox.col-md-10.col-md-offset-1
    <h1>About Rahtzee</h1>

    <p>Rahtzee is a clean Yahtzee based game by Mario Martinez. It uses a Ruby on Rails backend and Ruby code from <a href="https://github.com/martimatix/Ruby_Dice">Ruby_Dice</a> to evaluate scores. The site is mobile responsive - change the size of the screen and see it scale nicely. Dice icons by <a href="http://delapouite.com">Delapouite</a>.</p>

    %h2 Contact Mario

    = fa_icon "twitter"
    = link_to("@martimatix", "https://twitter.com/Martimatix")
    &nbsp
    = fa_icon "github"
    = link_to("martimatix", "https://github.com/martimatix")
    &nbsp
    = fa_icon "linkedin"
    = link_to("Mario Martinez", "http://www.linkedin.com/in/mariomartinez7/en")

    %p &nbsp