%div.form-group.col-xs-12.col-md-8
  .row
    .p.spacer
      &nbsp

  .row
    = form_tag "/games/#{@game.id}/#{@turn.id}/enter_score", :method => :post do
      .col-md-5.col-md-offset-1.col-xs-6
        .h4 Upper Scores
        %table.table.table-striped
          - Game.upper_scores.each do |field|
            %tr
              %td
                = radio_button_tag 'score_field', field, false, disabled: @game.send(field)
                = label_tag 'score_field_' + field.to_s, field.to_s.humanize
              %td.text-right
                / Display Score
                = @game.send(field)

          %tr
            %td
              = label_tag "Subtotal"
            %td.text-right 
              = @game.raw_upper.to_i

          %tr
            %td
              = label_tag "Bonus (>62)"
            %td.text-right 
              = @game.upper_score_bonus.to_i

          %tr
            %td
              = label_tag "Total"
            %td.text-right
              = @game.upper_score.to_i
      .col-md-5.col-md-offset-1.col-xs-6
        .h4 Lower Scores
        %table.table.table-striped
          - Game.lower_scores.each do |field|
            %tr
              %td
                = radio_button_tag 'score_field', field, false, disabled: @game.send(field)
                = label_tag 'score_field_' + field.to_s, field.to_s.humanize
              %td.text-right 
                / Display Score
                = @game.send(field)

          %tr
            %td
              = label_tag "Total"
            %td.text-right
              = @game.lower_score.to_i

          %tr
            %td
              = label_tag "Grand Total"
            %td.text-right
              = @game.total_score.to_i

        = submit_tag "Enter Score", class: "btn btn-danger"