%h1 Rahtzee

%p
  Roll count:
  = @turn.roll_counter

= form_tag "/games/#{@game.id}/#{@turn.id}/roll_again", :method => :post do
  %ul
    - (1..5).to_a.each do |i|
      %li
        = "Dice #{i}: " + (@turn.send "dice_#{i}").to_s
        - box_checked = @dice_to_roll[i-1]
        = check_box_tag "dice_#{i}", '1', box_checked
  = submit_tag "Roll Dice - #{ 3 - @turn.roll_counter }",
    disabled: @turn.roll_counter >= 3


= form_tag "/games/#{@game.id}/#{@turn.id}/enter_score", :method => :post do
  %ul
    - Game.upper_scores.each do |field|
      %li
        = radio_button_tag 'score_field', field, false, disabled: @game.send(field)
        = field.to_s.humanize
        = @game.send(field)

    %li
      Subtotal: 
      = @game.raw_upper.to_i

    %li
      Bonus (>62): 
      = @game.upper_score_bonus.to_i

    %li
      Total:
      = @game.upper_score.to_i

    - Game.lower_scores.each do |field|
      %li
        = radio_button_tag 'score_field', field, false, disabled: @game.send(field)
        = field.to_s.humanize
        = @game.send(field)

    %li
      Total:
      = @game.lower_score.to_i

    %li
      Grand Total:
      = @game.total_score.to_i

  = submit_tag 'Enter Score'



