.row
  %h1 Rahtzee

.row
  .col-md-4
    %div.form-group
      = form_tag "/games/#{@game.id}/#{@turn.id}/roll_again", :method => :post do
        %ul
          - (1..5).to_a.each do |i|
            %li
              - box_checked = @dice_to_roll[i-1]
              = check_box_tag "dice_#{i}", '1', box_checked
              = label_tag "dice_#{i}", "Dice #{i}: " + (@turn.send "dice_#{i}").to_s
        = submit_tag "Roll Dice - #{ 3 - @turn.roll_counter }",
          disabled: @turn.roll_counter >= 3

  %div.form-group.col-md-8

    .row
      = form_tag "/games/#{@game.id}/#{@turn.id}/enter_score", :method => :post do
        .col-md-6
          .h4 Upper Scores
          %ul
            - Game.upper_scores.each do |field|
              %li
                = radio_button_tag 'score_field', field, false, disabled: @game.send(field)
                = label_tag 'score_field_' + field.to_s, field.to_s.humanize
                / Display Score
                = @game.send(field)

            %li
              Subtotal: 
              = @game.raw_upper.to_i

            %li
              Bonus (>62): 
              = @game.upper_score_bonus.to_i

            %li
              Total:
              = @game.upper_score.to_i
        .col-md-6
          .h4 Lower Scores
          %ul
            - Game.lower_scores.each do |field|
              %li
                = radio_button_tag 'score_field', field, false, disabled: @game.send(field)
                = label_tag 'score_field_' + field.to_s, field.to_s.humanize
                / Display Score
                = @game.send(field)

            %li
              Total:
              = @game.lower_score.to_i

            %li
              Grand Total:
              = @game.total_score.to_i

          = submit_tag 'Enter Score'



