%h1 Rahtzee

%p
  Roll count:
  = @turn.roll_counter

%p
  Test Score:
  = @test_score

= form_tag games_roll_again_path, :method => :post do
  %ul
    - (1..5).to_a.each do |i|
      %li
        = "Dice #{i}: " + eval("@turn.dice_#{i}").to_s
        = check_box_tag "dice_#{i}"
  = submit_tag "Roll Dice - #{ 3 - @turn.roll_counter }"

= form_tag "/games/enter_score", :method => :post do
  %ul
    - @fields.each do |field|
      %li
        = radio_button_tag 'score', field
        = field
  = submit_tag 'Enter Score'



